<div class="container">
    <h3>Test: {{name}} </h3>
    <p>Updated: {{dateformat updatedAt 'MMMM Do, h:mm a'}}</p>
    <p class="{{#if errMsg}}text-danger{{/if}}"><a href="/testrun/{{lastRunId}}">Last run: ({{status}}) {{runAt}} - {{#if errmsg}} Error: {{errMsg}}{{/if}}</a></p>

    <hr />
    <strong>Default BaseURL:</strong>
    <p>{{baseUrl}}</p>

    <strong>Test URLs:</strong>
    <ul>
        {{#each urlSegments}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr />
    <strong>Assertions:</strong>
    <ul>
        {{#each assertions}}
            <li> <div>Has {{type}}:</div><textarea>{{value}}</textarea> </li>
        {{/each}}
    </ul>
    <hr />
  <form action='/run/{{id}}'>
    <div class="input-group">
      <span class="input-group-addon">
        BaseURL:
      </span>
        <input class="form-control" name="baseUrl" type="text" placeholder="{{baseUrl}}">
    </div>
    <button type="submit" class="btn btn-default">Run Test</button>
  </form>
</div>