
<div class="container">
    <div class="row">
        <h3><span class="glyphicon glyphicon-flash"></span> Test Queue</h3>
        <table class="table table-bordered table-hover">
            <caption>0 failures</caption>
            <thead>
                <tr>
                    <th>Test Run</th><th>Test</th><th>BaseUrl</th><th>Result</th>
                </tr>
            </thead>
            <tbody>
            {{#each testruns}}
               <tr class="{{#if errMsg}}danger{{/if}}">
                   <th scope="row"><a href="/testrun/{{id}}">{{#if runAt}}{{formatdate runAt}}{{/if}}</a></th>
                   <td><a href="/test/{{testId}}">{{name}}</a></td>
                   <td>{{baseUrl}}</td>
                   <td>{{status}} {{errMsg}}</td>
               </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
