<div class="container">
    <h3>Test Run: {{name}} </h3>
    {{#if runAt}}
      <p>Executed: {{dateformat runAt 'MMMM Do, h:mm a'}} </p>
    {{/if}}
    <p class="{{#if errmsg}}text-danger{{/if}}"> Run : ({{status}}) {{runAt}} - {{#if errmsg}} Error: {{errmsg}}{{/if}}</p>

    <hr />
    <strong>BaseURL:</strong>
    <p>{{baseUrl}}</p>
    <hr />
    <strong>Test URLs:</strong>
    <ul>
        {{#each urlSegments }}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr />
    <strong>Assertions:</strong>
    <ul>
        {{#each assertions}}
            <li> <div>Has {{type}}:</div><textarea>{{value}}</textarea> </li>
        {{/each}}
    </ul>

    <div class="">
        <h3>Results <span class="glyphicon glyphicon-tasks"></span>
        </h3>
        <table class="table table-bordered table-hover">
            <!--<caption>4 tests... 3 passed, 1 failed.</caption>-->
            <thead>
            <tr>
                <th>Path</th><th>Type</th><th>Value</th><th>Success</th>
            </tr>
            </thead>
            <tbody>
            {{#each results}}
                    {{#each this}}
                        <tr class="{{#ifEqual success 'false'}}danger{{/ifEqual}}">
                            <td>{{testPath}}</td>
                            <td>{{type}}</td>
                            <td>{{value}}</td>
                            <td>{{success}}</td>
                        </tr>
                    {{/each}}
            {{/each}}
            </tbody>
        </table>
    </div>

</div>
